body{
    background-color:black;
}
.conteiner{
    max-width:800px;
    height: 500px;
    margin:auto;
    background-image:url(protese1.png);
    background-size: cover;    
    background-repeat:no-repeat;
    
    box-sizing:border-box;
    border-radius: 20px;
    
}
.cont{
    
    max-width:50%;
    height: 500px;
    box-sizing:border-box;
    margin:left;
    background-color:rgba(255, 255, 255, 0.6);    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#texto{
    width:100%;    
    box-sizing:border-box;
    
}

input{
    width:100%;    
    padding:5px;
    border:none;
    box-sizing:border-box;
    }