body{
    height: 97.7vh;
    background-image: linear-gradient(45deg, rgb(9, 9, 138), rgb(13, 126, 38));
    background-size: cover;    
    display: flex;
    background-repeat:no-repeat; 
    align-content: center;
}
.conteiner{
    max-width:800px;
    height: 580px;
    margin:auto;
    background-image:url(protese1.png);
    background-size: cover;    
    background-repeat:no-repeat; 
    border-radius: 20px;
    display: flex;
    align-content: flex-start;
   
}
#texto{
    
    width:60%;
    height: 580px;
    box-sizing:border-box;    
    background-color:rgba(255, 255, 255, 0.6);    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
h1,h2,p{
    margin:20px;
}
h1{
    padding-top: 10px ;
    font-size: 25px;
}
p{
    font-size: 17px;
}
#p1{
    margin-bottom: -10px;
    margin-top: 10px;
}
h2{
    font-size: 20px;
    margin-bottom: 10px;
}



input{
    margin-left: 20px;
    width:90%;    
    padding:5px;    
    box-sizing:border-box;
    border-radius: 10px;

    }